.schedule {
    display: grid;
    grid-template-rows: [space-one-s] 1fr [space-one-e] repeat(5, 80px) [progress-s] 90px [progress-e];
    grid-row-gap: 22px;

    grid-column: schedule-s/schedule-e;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;

    align-content: center;

    &__title {
        color: white;
        font-weight: 300;
        font-family: $font-alegreya;
        font-size: 20px;
        @include border-left;
        // text-align: center;
    }
}